// These variables are provided by wordpress via the theme.json file.

$color-primary: #ff6700;
$color-primary-dark: #d95c07;

$color-secondary: #4e9997;
$color-secondary-dark: #3d7978;

$color-tertiary: #264748;
$color-tertiary-dark: #1b3234;

$color-gray-light: #f6f6f6;
$color-gray-dark: #e7e7e7;

$color-foreground: #212121;
$color-background: #fefefe;
